.qingmei{
	/* 青梅 */
	background-color: #748F75;
	
}
.yushiqing{
	/* 鱼师青 */
	background-color: #277D93;
}
.zhuying{
	/* 朱樱 */
	background-color: #99181B;
}
.qilin{
	/* 麒麟 */
	background-color: #0D1D46;
}
.qilan{
	/* 琪蓝 */
	background-color: #343E54;
}
.yingqing{
	/* 影青 */
	background-color: #B3C1C9;
}
.tanse{
	/* 檀色 */
	background-color: #BF6A55;
}
.jiahui{
	/* 葭灰 */
	background-color: #C9B9B0;
}
.facui{
	/* 法翠 */
	background-color: #006C71;
}
.zhizi{
	/* 栀子 */
	background-color: #FBC73B;
}
.huaqing{
	/* 花青 */
	background-color: #132143;
}
.ganshi{
	/* 甘石 */
	background-color: #C7B8B8;
}
.qielan{
	/* 窃蓝 */
	background-color: #89AAD9;
}
.nenehuang{
	/* 嫩鹅黄 */
	background-color: #F4C867;
}